body{
background-color:#3e3e48;
}
h1{
text-align:center;
color:#ffb308;
font-size:50px;
font-family:serif;
}
a{
color:#fff;
font-size:30px;
font-weight:bold;
text-decoration:none;
}

a:hover{
text-decoration:underline;
text-align:center;
}